<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.learn.housePrice.dao.MenuDao" >
    <resultMap id="BaseResultMap" type="com.learn.housePrice.entity.Menu" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="menu_name" property="menuName" jdbcType="VARCHAR" />
        <result column="menu_url" property="menuUrl" jdbcType="VARCHAR" />     
        <result column="parent_menu_id" property="parentMenuId" jdbcType="VARCHAR" />
        <result column="sort" property="sort" jdbcType="BIGINT"></result>   
   		<result column="note" property="note" jdbcType="VARCHAR" />
   		<result column="status" property="status" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, menu_name, menu_url, parent_menu_id, sort, status, note
    </sql>
    
    <insert id="insert" parameterType="com.learn.housePrice.entity.Menu" 
    	useGeneratedKeys="true" keyProperty="id">
       <!-- ORCAL
       <selectKey resultType="String" order="BEFORE" keyProperty="id">
       		SELECT seq_on_all.nextval AS id from DUAL
       </selectKey> -->
       
       <!-- mysql插入数据后，获取id
                     方法一: 
       <selectKey keyProperty="id" resultType="String" order="AFTER" >
               SELECT LAST_INSERT_ID() as id
       </selectKey> 
                     方法二：
       useGeneratedKeys="true" keyProperty="id"              
       -->
       
       <!-- alter table u_user modify column id int not null auto_increment primary key; -->
   
   		<!-- <selectKey keyProperty="id" resultType="Long" order="AFTER" >
               SELECT LAST_INSERT_ID() as id
       </selectKey>  -->
   
       INSERT INTO u_menu( 
       		id,
       		menu_name,
       		menu_url,
       		parent_menu_id,
       		sort,
       		status,
       		note) 
        VALUES
            (	#{id}, 
            	#{menuName}, 
            	#{menuUrl}, 
            	#{parentMenuId}, 
            	#{sort}, 
            	#{status},
            	#{note}
            )
    </insert>
    
    <select id="getSortMax" parameterType="com.learn.housePrice.entity.Menu" resultType="Long">
    	SELECT IFNULL(MAX(sort), 0) AS maxNum
    	FROM
    		u_menu
    	WHERE
    		<if test="parentMenuId != null">parent_menu_id = #{parentMenuId}</if> 
    		<if test="parentMenuId == null">parent_menu_id is null</if>    		
    </select>
    
    <select id="getMenu" resultMap="BaseResultMap" parameterType="java.util.Map" >
    	SELECT * FROM u_menu
    </select>
</mapper>