<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.learn.housePrice.dao.UserRoleDao">
    <insert id="grantUserRoles" useGeneratedKeys="true" keyProperty="id">
  		insert into u_user_role (uid, rid) values
  		<foreach item="item" collection="roleIds" separator=",">
    		(#{userId}, #{item})
  		</foreach>
	</insert>
	
	<delete id="deleteRoleByUserId" parameterType="Long"> 
		DELETE	FROM
			u_user_role
		WHERE uid = #{userId}		
	</delete>
	
	<delete id="deleteRoleByRoleId" parameterType="Long"> 
		DELETE	FROM
			u_user_role
		WHERE rid = #{roleId}		
	</delete>
</mapper>