<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.learn.housePrice.dao.UserDao" >
    <resultMap id="BaseResultMap" type="com.learn.housePrice.entity.User" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="nickname" property="nickname" jdbcType="VARCHAR" />
        <result column="pswd" property="pswd" jdbcType="VARCHAR" />     
        <result column="email" property="email" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="DATE" />
   		<result column="last_login_time" property="lastLoginTime" jdbcType="DATE" />
   		<result column="status" property="status" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, nickname, email, pswd, create_time, last_login_time, status
    </sql>

    <select id="getAll" resultMap="BaseResultMap"  >
       SELECT 
       <include refid="Base_Column_List" />
       FROM u_user
    </select>

	<select id="selectByMap" parameterType="java.util.Map"  resultMap="BaseResultMap" >
		SELECT
		<include refid="Base_Column_List" />
       	FROM u_user
       	WHERE nickname = #{nickname}
       	AND pswd = #{pswd}
	</select>

	<select id="getUser" parameterType="com.learn.housePrice.entity.User" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
       	FROM u_user
       	WHERE nickname = #{nickname}
       	AND pswd = #{pswd}
	</select>

    <select id="getOne" parameterType="java.lang.String" resultMap="BaseResultMap" >
        SELECT 
       <include refid="Base_Column_List" />
       FROM u_user
       WHERE id = #{id}
    </select>

    <insert id="insert" parameterType="com.learn.housePrice.entity.User" 
    	useGeneratedKeys="true" keyProperty="id">
       <!-- ORCAL
       <selectKey resultType="String" order="BEFORE" keyProperty="id">
       		SELECT seq_on_all.nextval AS id from DUAL
       </selectKey> -->
       
       <!-- mysql插入数据后，获取id
                     方法一: 
       <selectKey keyProperty="id" resultType="String" order="AFTER" >
               SELECT LAST_INSERT_ID() as id
       </selectKey> 
                     方法二：
       useGeneratedKeys="true" keyProperty="id"              
       -->
       
       <!-- alter table u_user modify column id int not null auto_increment primary key; -->
   
   		<selectKey keyProperty="id" resultType="Long" order="AFTER" >
               SELECT LAST_INSERT_ID() as id
       </selectKey> 
   
       INSERT INTO u_user( 
       		id,
       		nickname,
       		pswd,
       		email,
       		create_time,
       		status) 
        VALUES
            (	#{id}, 
            	#{nickname}, 
            	#{pswd}, 
            	#{email}, 
            	#{createTime}, 
            	#{status} 
            )
    </insert>

    <update id="update" parameterType="com.learn.housePrice.entity.User" >
       UPDATE 
            u_user
       SET 
        <if test="nickname != null">nickname = #{nickname},</if>
        <if test="pswd != null">pswd = #{pswd},</if>
        <if test="email != null">email = #{email},</if>
        <if test="createTime != null">create_time = #{createTime},</if>
        <if test="last_login_time != null">last_login_time = #{lastLoginTime},</if>
        <if test="status != null">status = #{status},</if>
       WHERE 
            id = #{id}
    </update>

    <delete id="delete" parameterType="java.lang.String" >
       DELETE FROM
             u_user 
       WHERE 
             id =#{id}
    </delete>
</mapper>